/*
  My style BEM:
  block-element--modifier_value
*/

.heart-part {
  fill-rule: evenodd;
  stroke: #ff0000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.heart-gradiationStop {
  stop-color: #ff0000;
  stop-opacity: 1;
}

.heart-gradiationStop--traced_true {
  stop-opacity: 1;
}

.heart-gradiationStop--traced_false {
  stop-opacity: 0;
}
